<h3>Your recent Short URLs!</h3>

<table class="table-url">
<thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<%= for link <- @links do %>
  <tr>
    <td><%= link(link_url(link), to: Routes.link_path(@conn, :show, link), target: "_blank") %></td>
    <td><%= created_at(link) %></td>
  </tr>
<%end %>
</tbody>
</table>

<%= link("Create New URL", to: Routes.link_path(@conn, :new), class: "btn") %>