<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "URL Shortener" %></h1>
</section>

<section class="row">
<%=link("New URL", to: Routes.link_path(@conn, :new)) %>
</section>

<section class="row">
<%=link("My recent URLs", to: Routes.link_path(@conn, :index)) %>
</section>