/* This file is for your main application css. */
@import "./phoenix.css";

$blue-button-color: #0069d9;
$green-button-color: #3b8117;

$default-letter-color: #fff;

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.btn {
  color: $default-letter-color;
  background-color: $blue-button-color;
  border-color: $blue-button-color;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  display: inline-block;
}

.btn.btn-info {
  background-color: $green-button-color;
  border-color: $green-button-color;
}

a.btn:hover {
  color: $default-letter-color;
}